{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row">
            <h1>Mon profil</h1>
            <div id="formParticipant">
                <p><strong>Email : </strong> {{ app.user.email }}</p>
                {{ form(participant_form) }}
            </div>
            <a href="{{ path('main_home') }}" title="Retour à l'accueil"><button class="btn btn-primary col-2" style="margin-top:10px">Annuler</button></a>
        </div>
    </div>
{% endblock %}