/*
Yo je vous propose de ranger les styles par
ordre alphabétique pour s'y retrouver plus
facilement ^^
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    padding-bottom: 7em;
}

.bold {
    font-weight: bold;
}
/*boutons se desister et s'inscrire*/
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.center {
    text-align: center;
}

.custom-button {
    width: 20%;
    margin-top: 20px;
}

.block {
    display: block;
}

.error,
form ul > li{
    font-weight: bolder;
    color: crimson;
}
/*
Lignes CSS remplacées par du BootStrap

footer{
    background-color: #110e54;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 10px 30px;
}

header {
    padding: 10px 30px;
    margin: 0;
    text-align: center;
    background-color: #110e54;
    color: white;
}

 */

.img-home {
    width: 50px;
    height: 50px;
}

input, select {
    width: auto;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

.label-over-input label {
    width: 100%;
}

.link-eni:link,
.link-eni:visited,
.link-no-deco {
    color: white;
    text-decoration: none;
}

.link-eni:hover {
    color: white;
    text-decoration: underline;
}

.little-form {
    width: 40%;
    margin: 20px 30%;
}

.success {
    font-weight: bolder;
    color: darkgreen;
}

table {
    border: medium solid #110e54;
    width: 50%;
}

/*Tableaux */
@media screen and (max-width: 767px){
    #filtres_sorties{
        padding : 30px;

    }
    #tableau_desktop{
        display:none;
    }
}
@media screen and (min-width: 768px){
    #tableau_mobile{
        display:none;
    }
}

td, th {
    border: thin solid #110e54;
    width: 50%;
}

/* Affichage de la navbar */
@media (max-width: 991px) {
    /* En dessous de 992px de large */
    #bigscreen {
        display: none;
    }

    #burgerbutton, #burgerbar, #homesmall {
        display: block;
    }
}

@media (min-width: 992px) {
    /* Au dessus de 992px de large */
    #bigscreen {
        display: block;
    }

    #burgerbutton, #burgerbar, #homesmall {
        display: none;
    }
}

#burgerbar > ul > li {
    list-style: none;
}

#burgerbar > ul > li > a {
    text-decoration: none;
}